@{
    ViewBag.Title = "Альманах 'Обратная Перспектива'";
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}

<input id="pageId" type="hidden" value="1"/>

<div class="layer_1" id="port"><!-- page1 -->
    <div class="layer_2 parallax-layer">
    </div>
    <!-- frame -->
    <div class="angle_1"></div>
    <div class="angle_2"></div>
    <div class="angle_3"></div>
    <div class="angle_4"></div>
    <a href="@Url.Action("Index","HomePage")" class="logo">Обратная перспектива - Альманах кинематографической прозы</a>
    <div class="paging">
    </div>
    @*Пока данный блок не виден. Скрыт через стили*@
    <div class="rec-menu">
        меню
        <a href="#" class="hamburger"></a>
    </div> <!-- здесь еще будет дропдаун -->

    <div class="content">
        <label class="discriptionTitle">Обратная перспектива это альманах кинематографической прозы. У нас вы можете найти тщательно отобранные работы современных белорусских драмотургов </label>
    </div>
    <div class="content">
        <label class="discriptionTitle">Вы можете приобрести Альманах в магазинах книжной сети "Бел книга", а так же в Галерии У</label>
    </div>
    <div class="content">
        <label class="discriptionTitle">После поступления в печать второго тома, здесь появиться ссылка позволяющая получить доступ ко всем произведениям первого выпуска.</label>
    </div>

    <div class="content">
        <h1>НЕ УХОДИ</h1>
        <label class="discriptionTitle">
            Осень. Листва давно покрылась золотисто-жёлтой и пурпурно-бурой сединой и уже стала понемногу облетать. Небо затянуто тяжёлыми свинцовыми тучами, накрапывает дождь.
            <br />К панельному многоэтажному дому нетвёрдой походкой приближается высокий мужчина лет сорока. На нём потёртая кожаная куртка, джинсы, заляпанные грязью, и старомодные разносившиеся туфли. Мужчина недовольно ёжится от ветра, пряча руки в карманах куртки, и что-то бормочет себе под нос. Его взгляд пуст и абсолютно безучастен, в нём нет ничего, кроме тупого равнодушия.
            <br />Мужчина, покачиваясь, останавливается у подъезда, опускается на скамейку, достаёт из кармана смятую сигарету без фильтра и зажигалку. Чиркает несколько раз. Закуривает. От первой затяжки он начинает громко кашлять, потом чихает. Мужчина нечленораздельно  ругается и вытирает нос об рукав куртки. Потом поднимается в подъезд и неуверенной рукой набирает код. «Дверь открыта», - слышим мы механический голос из домофона. Мужчина заходит внутрь. Дверь в подъезд медленно закрывается.
        </label>
    </div>

    <div class="content">
        <h1>ЗАСТОЛЬНЫЕ БЕСЕДЫ</h1>
        <label class="discriptionTitle">
            Молодой священник выкатывает из храмовой пристройки велосипед. Ненадолго отходит в сторону, оставляя велосипед, который вскоре звонко падает, и возвращается, держа в руках огромного кота. Усадив кота в корзинку над передним колесом, отец Андрей отправляется в дорогу через весь поселок, стараясь улыбаться каждому встречному.
            <br />Два мужика, сидящие на лавке недалеко от дороги, замечают едущего ксендза и быстро прячут от него бутылку водку.
            <br />- Да засунь ты ее в карман, чтоб ксендз не видел!
            <br />Приблизившись, священник останавливает велосипед.
            <br />- Слава Иисусу Христу!
            <br />- Да, добрай раницы, ойтец. Куда это вы ни свет, ни зара?
            <br />- Хулигана своего хочу на время пристроить. Безобразничает много. (Через паузу) Дядь Павел, ну что же вы – опять с утра пораньше?
        </label>
    </div>

    @*<div class="content">
        <h1>Альманах</h1>
        <label class="discriptionTitle">~ Все выпуски от сотворения мира ~</label>
        <button class="read-button">читать</button>
    </div>*@
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function(){
            // Declare parallax on layers
            $('.parallax-layer').parallax({
                mouseport: jQuery("#port")
            });
            $('.read-button').mouseenter(function() {
			    $( this ).text("смотреть");
			})
		    .mouseleave(function() {
		    	$( this ).text("читать");
		    });

            $('.read-button').click(function () {
                window.location = "@(Url.Action("ReadOpus","Home"))";
            });
        });
</script>
}
