@model long
@{
    ViewBag.Title = "Cutaway";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts
{
    <script src="@Url.Content("~/Scripts/scroll.js")"></script>
}

@Html.Hidden("pageId", Model)

<div id="page1">
    <br />
    <hr />
    page1 bla lba bla
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
</div>

<div id="page2">
    <br />
    <hr />
    page2 bla lba bla
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    <a id="pageContact" href="@Url.Action("ReadOpus")">
        <video autoplay loop>
            <source src="@Url.Content("~/Content/video/Contact.webm")" type="video/webm">
        </video>
    </a>
</div>


<div id="page3">
    <br />
    <hr />
    page3 bla lba bla
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
    page<br/>
</div>