@using DAO.Model
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div ng-controller="homeController">
    <h2>Обратная перспектива <a href="#" ng-click="isAdmin = !isAdmin">{{ isAdmin ? "Admin": "User" }}</a></h2>
    <div>
        <div ng-show="isWait">Ожидайте, идёт заргузка... <img src="@Url.Content("~/Content/img/wait.gif")"/></div>
        
        <div ng-repeat="opus in opuses">
            <a href="#" ng-click="selectOpus(opus)">{{ opus.Name }}</a><a ng-show="isAdmin" href="#" ng-click="deleteOpus(opus.Id)"><img src="@Url.Content("~/Content/img/del.jpg")" width="20"/></a>
        </div>
    </div>

    <hr />

    <div>
        <h3>{{currentOpus.Name}}</h3>
        <div ng-repeat="scene in currentOpus.Scenes">
            <p class="block" id="phrase{{phrases.Id}}" ng-repeat="phrases in scene.Phrases">
                <span ng-show="phrases.HeroName" class="name" ng-click="selectHeroInfo(phrases.HeroId, phrases.Id, phrases.HeroName)">{{ phrases.HeroName }}: </span><span>{{ phrases.Text }}</span>
            </p>
        </div>
    </div>




    <div ng-show="heroInfo" id="heroInfo" ng-style="{top:heroInfoBlockTop}">
        <a href="#" ng-click="closeHeroInfo()" style="float: right;">Close</a>
        <p style="text-align: center;">Герой: {{heroInfo.heroName}}</p>
        <input ng-show="isAdmin" type="text" ng-model="heroInfo.newInfo" style="width: 400px;"/>
        <input ng-show="isAdmin" type="submit" value="Добавить" ng-click="saveHeroInfo()"/>
        <p>{{ heroInfo.newInfo }}</p>
        <p style=" color: #666; text-align: center;" ng-show="heroInfo.length == 0">*** Пока, об этом герое нет никаких деталей *** </p>
        <p ng-repeat="info in heroInfo">
            {{info.Info}} <a ng-show="isAdmin" href="#" ng-click="deleteHeroInfo(info.Id)"><img src="@Url.Content("~/Content/img/del.jpg")" width="20"/></a>
        </p>
        <div ng-show="heroInfo.isWait">
            Ожидайте, идёт заргузка... <img src="@Url.Content("~/Content/img/wait.gif")" />
        </div>
    </div>


    @*<hr/>
        <hr/>
        <hr/>
        <h2>All</h2>
        <div ng-repeat="opus in opuses">
            <h3>{{opus.Name}}</h3>
            <div ng-repeat="scene in opus.Scenes">
                <p ng-repeat="phrases in scene.Phrases">
                    {{ phrases.HeroName }}: {{ phrases.Text }}
                </p>
            </div>
        </div>
        <hr />*@
</div>