body {
    font-size: 16px;
}


.name {
    color: #800000;
    font-weight: bold;
    cursor: pointer
}

.block {
    /*border: 1px solid black;*/
}

#heroInfo {
    position: absolute;
    background-color: #DDD;
    width: 500px;
    padding: 10px;
}

.opus-raw-container {
    width: 100%;
    height: 500px;
}

.footer {
    text-align: center;
}